* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.wrapper .form {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper .youtube-box {
  width: 50%;
  height: 350px;
  background-color: #e4e4e4;
}

@media(max-width: 768px) {
  .wrapper .form, .wrapper .youtube-box .error-msg{
    width: 100%;
  }
}

.btn {
  margin-right: 10px;
}
.error-msg {
  font-size: 14px;
  font-weight: 600;
  color: red;
}

.loop-slider-container {
  position: relative;
  width: 640px;
  height: 5px;
  margin-top: 30px;
}

.slider-container {
  position: relative;
  margin-top: 10px;
  width: 650px;
  height: 10px;
}

.slide-track {
  width: 100%;
  height: 5px;
  background-color: #d5d5d5;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  background-color: transparent;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 1em;
  width: 1em;
  background-color: rgb(0, 179, 255);
  cursor: pointer;
  border-radius: 10px;
  pointer-events: auto;
  transition: background-color .5 ease-out 0;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background-color: rgb(0, 119, 255);
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: rgb(0, 119, 255);
}